@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2e2e2e;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* input[type='date'] {
  background-color: #5e5e5e;
  color: white;
  border: 1px solid #8c8c8c;
  padding: 0.5rem;
  border-radius: 0.375rem;
  appearance: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background-color: transparent;
  color: white;
  filter: invert(100%);
  cursor: pointer;
} */
